We will be working with publicly available airline passenger time series data. To start, let’s import the Pandas library and read the airline passenger data into a data frame

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r'/Users/akbare/Desktop/IronhackDA/DAFT_212/module_2/Lab_21_Time-Series-Models/airlines_passengers.csv')

Let’s display the first five rows of data

In [3]:
data.head()

     Month  Passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121

We can see that the data contains a column labeled “Month” that contains dates. In that column, 
the dates are formatted as year–month. We also see that the data starts in the year 1949.
The second column is labeled Passengers, and it contains the number of passengers for the year–month. Let’s take a look at the last five records the data

In [4]:
data.tail()

       Month  Passengers
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

We see that the data ends in 1960. The next thing we will want to do is convert the month column into a datetime object. 
This will allow it to programmatically pull time values like the year or month for each record.
To do this, we use the Pandas to_datetime() method. Note that this process automatically inserts the first day of each month, which is basically a dummy value since we have no daily passenger data.

In [5]:
data['Month'] = pd.to_datetime(data['Month'])
data.dtypes

Month         datetime64[ns]
Passengers             int64
dtype: object

The next thing we can do is convert the month column to an index.

In [ ]:
data= data.set_index('Month')

In [ ]:
data.index

Let’s generate a time series plot using Seaborn and Matplotlib. This will allow us to visualize the time series data. 
Import the libraries and generate the lineplot. Label the y-axis with Matplotlib “Number of Passengers”

In [ ]:
sns.lineplot(data=data, x="Month", y="Passengers")
plt.ylabel("Number of Passengers")

Stationarity is a key part of time series analysis. Import the augmented Dickey-Fuller test from the statsmodels package.

In [ ]:
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller

Let’s pass our data frame into the adfuller method. 
Here, we specify the autolag parameter as “AIC”, which means that the lag is chosen to minimize the information criterion

In [ ]:
X = data.values
result = adfuller(X, autolag='AIC')
print('ADF Statistic: %f' % result[0])
print('5%% Critical Value: %.2f' % result[4]['5%'])
print('p-value: %f' % result[1])

Store our results in a dataframe display it

In [ ]:
Result=pd.DataFrame(result)
Result

Explain the results

Autocorrelation
Checking for autocorrelation in time series data is another important part of the analytic process. 
This is a measure of how correlated time series data is at a given point in time with past values, 
which has huge implications across many industries. For example, if our passenger data has strong autocorrelation, we can assume that high passenger numbers today suggest a strong likelihood that they will be high tomorrow as well.
Please calculate and show the autocorrelation

In [ ]:
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
plot_acf(datalot_pacf(data)
plt.show()

Calculate partial autocorrelation

In [ ]:
plot_pacf(data)
plt.show()

Decomposition
Trend decomposition is another useful way to visualize the trends in time series data.
To proceed, let’s import seasonal_decompose from the statsmodels package:
from statsmodels.tsa.seasonal import seasonal_decompose

In [ ]:
from statsmodels.tsa.seasonal import seasonal_decompose

Next, let’s pass our data frame into the seasonal_decompose method and plot the result:
decompose = 
decompose.plot()
plt.show()

In [ ]:
data.head()

In [ ]:
Decompose = seasonal_decompose(data, model='multiplicative')
Decompose.plot()
plt.show()


Can you describe the charts?

Let's check the models on our dataset. Please note, if the dataset is non-stationary, you need to make it stationary

In [ ]:
data['Difference'] = data['Passengers'].diff()

MA(1)

In [ ]:
from statsmodels.tsa.arima_model import ARMA
model = ARMA(data.boxcox.dropna(), order=(0, 1))
result = model.fit()

Display the output

In [ ]:
from statsmodels.tools.eval_measures import rmse
rmse_1 = rmse(data.boxcox[-15:],pred_model)
rmse_1

MA(2)

In [ ]:
from statsmodels.tsa.arima_model import ARMA
model_2 = ARMA(data.boxcox.dropna(), order=(0, 2))
result_2 = model_2.fit()

Display the output

In [ ]:
result_2.summary()model_3 = ARMA(airline.boxcox.dropna(), order=(2, 0))
result_3 = model_3.fit()

AR(2)

In [ ]:
model_4 = ARMA(data.boxcox.dropna(), order=(2, 2))
result_4 = model_4.fit()

ARMA (?,?)

In [ ]:
from statsmodels.tsa.arima_model import ARIMA

model_5 = ARIMA(airline.boxcox.dropna(), order=(2,1,2))
result_5 = model_5.fit()

Display the output

ARIMA(?,?)

In [ ]:
pred_model_5 = result_5.predict(airline.boxcox.index[-15],airline.boxcox.index[-1])

Display the output

Let’s calculate root mean squared error (RMSE) for all the models. Explain the values

In [ ]:
from statsmodels.tools.eval_measures import rmse
rmse_5 = rmse(airline.boxcox[-15:],pred_model_5)
rmse_5

Calculate AIC

In [ ]:
AIC1= result1.aic
AIC2 =result_2.aic
AIC3 =result_3.aic
AIC4 =result_4.aic
AIC5 =result_5.aic