# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np 
import pandas as pd
import scipy.stats as stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv(r'/Users/akbare/Downloads/Pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon.value_counts(['Legendary'])

Legendary
False        735
True          65
dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [39]:
pokemon.Total.groupby(pokemon['Legendary']).agg({'mean', 'std'})

                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [86]:
# Your code here:
from scipy.stats import ttest_ind

ttest_ind(pokemon.Legendary,pokemon.Legendary, equal_var=False)

Ttest_indResult(statistic=0.0, pvalue=1.0)

What do you conclude from this test? Write your conclusions below.

In [18]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [87]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [101]:
# Your code here:
pokemon[pokemon['Type 1']=='Water'].groupby(pokemon['Legendary']).agg({np.mean, np.std})

                    #                   Total                    HP  \
                 mean         std        mean         std      mean
Legendary
False      300.490741  190.727015  421.398148  103.937341  71.12037
True       373.250000   98.093068  675.000000   77.674535  97.50000

                          Attack               Defense                Sp. Atk  \
                 std        mean        std       mean        std        mean
Legendary
False      27.531704   72.777778  27.455430  71.990741  27.757796   72.305556
True        5.000000  111.250000  31.721444  98.750000  11.814539  142.500000

                         Sp. Def                 Speed            Generation  \
                 std        mean        std       mean        std       mean
Legendary
False      25.625797   68.175926  25.950286  65.027778  22.886742   2.851852
True       37.749172  133.750000  20.564938  91.250000   6.291529   3.000000

                    Legendary
                std      mean  std
Legendary
False      1.581522       0.0  0.0
True       0.816497       1.0  0.0

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [88]:
# Your code here:

ttest_ind(pokemon.Total,pokemon.Total, equal_var=True)

Ttest_indResult(statistic=0.0, pvalue=1.0)

Write your conclusion below.

In [ ]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [89]:
# Your code here:
from scipy.stats import ttest_rel
ttest_rel(pokemon.Defense,pokemon.Attack,axis=0,nan_policy='propagate', alternative='two-sided')

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [90]:
# Your code here:
stats.ttest_ind(a = pokemon['Sp. Def'] , b = pokemon['Sp. Atk'] , equal_var = True)

Ttest_indResult(statistic=-0.6041290031014401, pvalue=0.5458436328840358)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [91]:
# Your code here:
from scipy.stats import ttest_1samp

stats.ttest_1samp(pokemon['Sp. Def'], popmean= 62, axis=0, nan_policy='propagate',alternative='two-sided')

Ttest_1sampResult(statistic=10.06453136981366, pvalue=1.6273790387286675e-22)

In [92]:

stats.ttest_1samp(pokemon['Sp. Atk'], popmean= 62, axis=0, nan_policy='propagate',alternative='two-sided')

Ttest_1sampResult(statistic=9.352517073491784, pvalue=8.401392945344363e-20)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [96]:
# Your code here:
contingency_table= pd.crosstab(pokemon['Legendary'], pokemon['Type 1'])
contingency_table

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Legendary,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [99]:
# Your code here:
stats.chisquare(f_obs=contingency_table, f_exp=None, ddof=0, axis=0)

Power_divergenceResult(statistic=array([69.        , 23.51612903,  2.        , 29.45454545, 13.23529412,
       27.        , 33.92307692,  0.        , 24.5       , 58.51428571,
       18.        , 16.66666667, 90.16326531, 28.        , 14.75438596,
       29.45454545, 13.37037037, 96.57142857]), pvalue=array([9.84634403e-17, 1.23870970e-06, 1.57299207e-01, 5.72436243e-08,
       2.74726764e-04, 2.03455461e-07, 5.73345997e-09, 1.00000000e+00,
       7.43098372e-07, 2.01820178e-14, 2.20904970e-05, 4.45570906e-05,
       2.19296131e-21, 1.21315451e-07, 1.22462327e-04, 5.72436243e-08,
       2.55630868e-04, 8.60815756e-23]))

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: